Ray-it_Debug.exe
Ray-it_Release.exe
build/
.vscode/
cases/results.post.msh
cases/results.post.res
cases/results2.post.msh
cases/results2.post.res
cases/results3.post.msh
cases/results3.post.res
cases/results4.post.msh
cases/results4.post.res
cases/results5.post.msh
cases/results5.post.res
cases/results7.post.msh
cases/results7.post.res
cases/geometric_objects.stl.post.msh
cases/geometric_objects.stl.post.res
cases/heterogeneous_mesh.stl.post.msh
cases/heterogeneous_mesh.stl.post.res
cases/heterogeneous_mesh2.stl.post.msh
cases/heterogeneous_mesh2.stl.post.res
cases/only_close_square_fine.stl.post.msh
cases/only_close_square_fine.stl.post.res
cases/problematic_cone.stl.post.msh
cases/problematic_cone.stl.post.res
cases/square_with_smaller_square_before_fine_test.stl.post.msh
cases/square_with_smaller_square_before_fine_test.stl.post.res

